@charset "utf-8";
/* Animated Flip Down Clock Style */

body {
	background: #ddd;
	font-family: arial;
	font-size: 62.5%;
}

#header {
	position: relative;
	top: 110px;
	margin-top: 20px;
	text-align: center;
	font-size: 6em;
	color: #171717;
	text-shadow: 1px 1px #ccc;
}

#todayIs {
	position: absolute;
	left: 50%;
	top: 63px;
	margin-left: -147px;
	font-size: 2em;
	color: #171717;
	text-shadow: 1px 1px #ccc;
}

#month {
	position: absolute;
	left: 50%;
	top: 63px;
	margin-left: 40px;
	font-size: 2em;
	color: #171717;
	text-shadow: 1px 1px #ccc;
}

#date {
	position: absolute;
	left: 50%;
	top: 40px;
	margin-left: -30px;
}

#dateFront {
	position: absolute;
	top: 0px;
}

#dateUpperHalf,
#dateUpperHalfBack {
	vertical-align: bottom;
}

#dateLowerHalf,
#dateLowerHalfBack {
	vertical-align: top;
}

#dateUpperHalf img {
	position: relative;
	height: 30px;
	vertical-align: bottom;
	visibility: visible;
}

#dateLowerHalf img {
	position: relative;
	height: 30px;
	vertical-align: top;
	visibility: visible;
}

#dateLowerHalfBack img {
	position: relative;
	vertical-align: top;
}

#dateUpperHalfBack img {
	position: relative;
	vertical-align: bottom;
}

#wrapper {
	position: absolute;
	top: 220px;
	left: 50%;
	margin-left: -240px;
	text-align: center;
}

#front {
	position: absolute;
	top: 0px;
}

#upperHalf,
#upperHalfBack {
	vertical-align: bottom;
}

#lowerHalf,
#lowerHalfBack {
	vertical-align: top;
}

#upperHalf img {
	position: relative;
	height: 80px;
	vertical-align: bottom;
	visibility: visible;
}

#lowerHalf img {
	position: relative;
	height: 80px;
	vertical-align: top;
	visibility: visible;
}

#lowerHalfBack img {
	position: relative;
	vertical-align: top;
}

#upperHalfBack img {
	position: relative;
	vertical-align: bottom;
}

#hoursUp,
#hoursDown,
#hoursUpBack,
#hoursDownBack,
#minutesUp,
#minutesDown,
#minutesUpBack,
#minutesDownBack,
#secondsUp,
#secondsDown,
#secondsUpBack,
#secondsDownBack {
	width: 160px;
}

#dateUp,
#dateDown,
#dateUpBack,
#dateDownBack {
	width: 60px;
}