@charset "utf-8";
/* Animated Flip Down Clock Style */

body{
	/*background:url('bg.png');*/
	background: #ddd;
	font-family:arial;
	font-size:62.5%;
}

a:link{
	color:#171717;
	text-decoration:none;
}

a:visited{
	color:#171717;
}

#lookup {
	margin: auto;
	margin-top: 30px;
	width: 700px;
}

#lookupHeading {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#hockeySelector {
	margin: auto;
	padding-top: 20px;
	text-align: center;
	font-size: 26px;
}

.hockeyForm {
	background-color: #fff;
    color: #000;
    font-size: 14px;
    border:none;
}

#button {
	margin: 10px;
	padding: 15px;
	background-color: #304de2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    box-shadow: 0px 1px 2px #777;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#button:hover {
    background: #8095ff;

}

.lookupImage {
	float: left;
	margin-bottom: 50px;
}

#photo {
	border-radius: 15px;
	box-shadow: 0px 2px 1px #888888;
}

.lookupText {
	float: left;
	margin-left: 30px;
	margin-bottom: 50px;
	width: 350px;
}

#playerLink {
	visibility: hidden;
	color: blue;
}

#lookupAnswer {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 300%;
}

#lookupTitle {
	font-size: 18px;
	font-weight: bold;
}

#lookupBody {
	font-size: 14px;
}